chardet
rank_bm25
scikit-learn
langchain
llama-index
llama-index-postprocessor-jinaai-rerank
llama-index-postprocessor-cohere-rerank
llama-index-postprocessor-voyageai-rerank
llama-index-embeddings-jinaai
llama-index-embeddings-voyageai
llama-index-embeddings-cohere
llama-index-llms-cohere
llama-index-llms-dashscope
llama-index-llms-deepinfra
chromadb
llama-index-vector-stores-chroma
more_itertools
tree_sitter==0.21.3
tree_sitter_languages
llama-index-llms-lmstudio
unidiff